{% extends "base.html" %}

{% block title %}Account{% endblock%}

{% block content %}

<div class="container m-auto">
<div class="container my-4">
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}} my-3"  role="alert">
    {{message}}
  </div>
{% endfor %}
{% endif %}
{% endwith %}
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                    <div class="m-4 text-center">
                      <img src="{{image}}" width="200" height="200" alt="" class="rounded-circle img-fluid">
                    </div>
                      <div class="ml-2 col-12 col-lg-8 col-md-6">
                          <h3 class="mb-0 text-truncated">{{current_user.username}}</h3>
                          <p class="lead">{{current_user.email}}</p>
                          <p>
                              I love to read, hang out with friends, watch football, listen to music, and learn new things.
                          </p>
                          <p> <span class="badge badge-info tags">html5</span> 
                              <span class="badge badge-info tags">css3</span>
                              <span class="badge badge-info tags">nodejs</span>
                          </p>
                      </div>
              </div>
              <div class="col-12"><hr></div>
              <div class="container p-4">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        <h1>Profile Details</h1>
                        <div class="form-group">
                            {{form.username.label(class="form-control-label")}}
                            <!--For form validation-->                
                            {% if form.username.errors %}
                            {{form.username(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.username(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{form.email.label(class="form-control-label")}}
                            <!--For form validation-->                
                            {% if form.email.errors %}
                            {{form.email(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.email(class="form-control form-control-lg")}}
                            {% endif %}                
                        </div>
                        <div class="form-group">
                          {{form.picture.label()}}
                          {{form.picture(class="form-control-file")}}
                          {% if form.picture.errors %}
                          {% for error in form.picture.errors %}
                          <span class="text-danger">{{error}}</span>
                          {% endfor %}
                          {% endif %}
                        </div>
                        <div class="form-group">
                            {{form.submit(class="btn btn-outline-info")}}
                        </div>
                    </div>
                </form>
                </div>
              </div>
      </div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}