{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container card my-4 mx-auto col-10">
    <div class="container p-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}} my-3"  role="alert">
        {{message}}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div class="form-group">
            <h1>Login here</h1>
            <div class="form-group">
                {{form.email.label(class="form-control-label")}}
                <!--For form validation-->                
                {% if form.email.errors %}
                {{form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.email(class="form-control form-control-lg")}}
                {% endif %}                
            </div>
            <div class="form-group">
                {{form.password.label(class="form-control-label")}}
                <!--For form validation-->                
                {% if form.password.errors %}
                {{form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.password(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input")}}
                {{ form.remember.label(class="form-check-label")}}
            </div>
            <div class="form-group my-2">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
            <div class="text-muted ml-2">
                <a href="#">Forgot Password ?</a>
            </div>
        </div>
    </form>
    </div>
    <div class="border-top pt-3 text-muted p-2">
            Need an account? <a href="{{ url_for('register')}}" class="ml-2">Register Here</a>
    </div>
</div>

{% endblock %}